In [32]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
# Y : discrete data -> apply logistic regression
data = pd.read_csv('advertising.csv')
data

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0
...,...,...,...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,1,Lebanon,2016-02-11 21:49:00,1
996,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,1,Bosnia and Herzegovina,2016-04-22 02:07:01,1
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,2016-06-03 21:43:21,1

In [4]:
data.info()
# object features -> Ad Topic Line, City, Country, Timestamp

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   object
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.2+ KB

In [8]:
data['Ad Topic Line'].unique()

1000

In [10]:
len(data['City'].unique())

969

In [11]:
len(data['Country'].unique())

237

In [20]:
# drop Timestamp, City, Ad Topic Line
data_droped = data.copy()
data_droped.drop(columns=['Timestamp', 'City', 'Ad Topic Line'], inplace=True)

In [21]:
data_droped

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Country,Clicked on Ad
0,68.95,35,61833.90,256.09,0,Tunisia,0
1,80.23,31,68441.85,193.77,1,Nauru,0
2,69.47,26,59785.94,236.50,0,San Marino,0
3,74.15,29,54806.18,245.89,1,Italy,0
4,68.37,35,73889.99,225.58,0,Iceland,0
...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,1,Lebanon,1
996,51.30,45,67782.17,134.42,1,Bosnia and Herzegovina,1
997,51.63,51,42415.72,120.37,1,Mongolia,1
998,55.55,19,41920.79,187.95,0,Guatemala,0
999,45.01,26,29875.80,178.35,0,Brazil,1

In [22]:
data_droped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Male                      1000 non-null   int64
 5   Country                   1000 non-null   object
 6   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(3), object(1)
memory usage: 54.8+ KB

In [24]:
# apply label encoder to the country column
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
data_droped['Country'] = lb.fit_transform(data_droped['Country'])

In [25]:
data_droped

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Country,Clicked on Ad
0,68.95,35,61833.90,256.09,0,215,0
1,80.23,31,68441.85,193.77,1,147,0
2,69.47,26,59785.94,236.50,0,184,0
3,74.15,29,54806.18,245.89,1,103,0
4,68.37,35,73889.99,225.58,0,96,0
...,...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,1,116,1
996,51.30,45,67782.17,134.42,1,26,1
997,51.63,51,42415.72,120.37,1,140,1
998,55.55,19,41920.79,187.95,0,85,0
999,45.01,26,29875.80,178.35,0,28,1

In [26]:
data_droped.corr()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Country,Clicked on Ad
Daily Time Spent on Site,1.000000,-0.331513,0.310954,0.518658,-0.018951,-0.011875,-0.748117
Age,-0.331513,1.000000,-0.182605,-0.367209,-0.021044,0.002416,0.492531
Area Income,0.310954,-0.182605,1.000000,0.337496,0.001322,0.046438,-0.476255
Daily Internet Usage,0.518658,-0.367209,0.337496,1.000000,0.028012,0.003417,-0.786539
Male,-0.018951,-0.021044,0.001322,0.028012,1.000000,-0.015552,-0.038027
Country,-0.011875,0.002416,0.046438,0.003417,-0.015552,1.000000,0.011415
Clicked on Ad,-0.748117,0.492531,-0.476255,-0.786539,-0.038027,0.011415,1.000000

In [28]:
data_droped.drop(columns=['Country'], inplace=True)

In [29]:
data_droped

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
0,68.95,35,61833.90,256.09,0,0
1,80.23,31,68441.85,193.77,1,0
2,69.47,26,59785.94,236.50,0,0
3,74.15,29,54806.18,245.89,1,0
4,68.37,35,73889.99,225.58,0,0
...,...,...,...,...,...,...
995,72.97,30,71384.57,208.58,1,1
996,51.30,45,67782.17,134.42,1,1
997,51.63,51,42415.72,120.37,1,1
998,55.55,19,41920.79,187.95,0,0
999,45.01,26,29875.80,178.35,0,1

In [31]:
data_droped['Clicked on Ad'].unique()

array([0, 1], dtype=int64)

# Data Spliting

In [36]:
# determine x and y
X = data_droped.iloc[:,:-1]
Y = data_droped.iloc[:,-1]

In [37]:
X.shape

(1000, 5)

In [38]:
Y.shape

(1000,)

In [39]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=5)

# Apply Scaling

In [40]:
from sklearn.preprocessing import StandardScaler
Scaler = StandardScaler()
x_train_scaled = Scaler.fit_transform(x_train)
x_test_scaled = Scaler.transform(x_test)

In [41]:
# Model Building and training

In [42]:
from sklearn.linear_model import LogisticRegression
logistic_regression_model = LogisticRegression()
logistic_regression_model.fit(x_train_scaled, y_train)

LogisticRegression()

# Model Evaluation

In [44]:
y_predict = logistic_regression_model.predict(x_test_scaled)
y_predict

array([0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 1], dtype=int64)

In [47]:
y_test.values

array([0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1], dtype=int64)

In [54]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report

In [50]:
accuracy = accuracy_score(y_test, y_predict)
accuracy

0.96

In [52]:
precision = precision_score(y_test, y_predict)
precision

0.9696969696969697

In [53]:
recall = recall_score(y_test, y_predict)
recall

0.9504950495049505

In [61]:
import matplotlib.pyplot as plt

In [64]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.95      0.97      0.96        99
           1       0.97      0.95      0.96       101

    accuracy                           0.96       200
   macro avg       0.96      0.96      0.96       200
weighted avg       0.96      0.96      0.96       200